.user-input,.id-input{
    box-shadow: 0 2px 4px #eee;
    border: #aaa 1px solid;
    height: 20px;
    width: 30%;
}

.input-groub{
    box-sizing: border-box;
    width: 60%;
    min-height: 30px;
    margin: 10px auto;
    padding: 20px 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 4px #eee;
    border-radius: 5px;
    text-align: left;
    position: relative;
}
.input-groub input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%, -50%);
}

.id-input{

}
input:focus {
    outline: none;
}